<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matej.sepka.appPackage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.matej.sepka.appPackage.activity.AnimationWatchActivity" />
        <activity
            android:name="com.matej.sepka.appPackage.activity.AnimationCreatorActivity" />
        <activity
            android:name="com.matej.sepka.appPackage.activity.PlayerDetailActivity" />
        <activity
            android:name="com.matej.sepka.appPackage.activity.AttendanceDetailActivity" />
        <activity
            android:name="com.matej.sepka.appPackage.activity.AttendanceActivity" />
        <activity
            android:name="com.matej.sepka.appPackage.activity.GameSituationDetailActivity"
            android:parentActivityName="com.matej.sepka.appPackage.activity.MainActivity" />
        <activity
            android:name="com.matej.sepka.appPackage.activity.GroupDetailActivity"
            android:parentActivityName="com.matej.sepka.appPackage.activity.MainActivity" />
        <activity
            android:name="com.matej.sepka.appPackage.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.matej.sepka.appPackage.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>